@import url("../../App.css");
.banner {
    grid-area: banner;
    display: flex;
    font-weight: lighter;
    font-size: x-large;
    flex-direction: column;
    background: var(--bg-primary);
    color: var(--text-primary);
    align-items: left;
    justify-content: center;
    padding: 0.5rem;
}