# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install yarn
    - run: yarn
    - run: yarn webpack
    - run: ls -la 
    - run: pwd
    - run: mkdir temp
    - name: Decrypt secrets
      env:
        ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}
      run: |
        openssl aes-256-cbc -in .github/workflows/secrets/id_rsa.enc -out .github/workflows/secrets/id_rsa -pass pass:$ENCRYPTION_KEY -d -md sha1
    - name: Setup SSH agent
      env:
        SSH_AUTH_SOCK: /tmp/ssh_agent.sock
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan github.com >> ~/.ssh/known_hosts
        ssh-agent -a $SSH_AUTH_SOCK > /dev/null
        chmod 0600 .github/workflows/secrets/id_rsa
        ssh-add .github/workflows/secrets/id_rsa
    - run: export GIT_SSH_COMMAND="ssh -i .github/workflows/secrets/id_rsa"
    - run: cd temp && git clone git@github.com:pritamprasd/pritamprasd.github.io.git && cd pritamprasd.github.io && git checkout -b auto_commit_$(date +%s) && git status
    - run: cd temp/pritamprasd.github.io && rm -rf *.js *.html *.css
    - run: cp -R ./dist/ ./temp/pritamprasd.github.io
    - run: cd temp/pritamprasd.github.io && ls -la
    - run: git config --global user.email "<>"
    - run: git config --global user.name "Github Portfolio Bot"
    - name: Get Time
      id: time
      uses: nanzm/get-time-action@v1.1
      with:
        timeZone: 8
        format: 'YYYY-MM-DD-HH-mm-ss'
    - run: cd temp/pritamprasd.github.io && git commit -am "Automated commit by portfolio Github Actions, $TIME"
      env:
        TIME: "${{ steps.time.outputs.time }}"
    - run: cd temp/pritamprasd.github.io && git push --set-upstream origin auto_commit_$(date +%s)
